@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Mukta:wght@200&family=Roboto+Condensed:wght@400;700&display=swap");

body {
  font-family: "Arimo", sans-serif;
  margin: 0;
  border: 5px solid #01c6ad;
  height: 100vh;
}
